<ion-item lines="none">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-align-content-center ion-justify-content-between">
      <ion-col size="auto">
        <ion-icon size="large" name="cash-outline"></ion-icon>
      </ion-col>

      <ion-col size="8">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-text class="activity-item-title"><strong>Ijud</strong> paid <strong>Loy</strong> in <strong>"Loy
                  Datang".</strong></ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="activity-item-amount">You received RM45.80</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="activity-item-date" color="medium">29 Aug 2025 at 12:43pm</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-item>