<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="friends" href="/friends">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Friends</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="groups" href="/groups">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Groups</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-expense" href="/add-expense">
      <ion-icon aria-hidden="true" name="add-outline"></ion-icon>
      <ion-label>Add Expense</ion-label>
    </ion-tab-button>

	<ion-tab-button tab="activity" href="/add-expense">
		<ion-icon aria-hidden="true" name="analytics-outline"></ion-icon>
		<ion-label>Activity</ion-label>
	</ion-tab-button>

	<ion-tab-button tab="account" href="/add-expense">
		<ion-icon aria-hidden="true" name="people-circle-outline"></ion-icon>
		<ion-label>Account</ion-label>
	</ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
