<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>add-expense</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-buttons slot="secondary">
				<ion-icon name="close-outline" size="large"></ion-icon>
			</ion-buttons>
			<ion-title>Add an expense</ion-title>
			<ion-buttons slot="primary">Save</ion-buttons>
		</ion-toolbar>
		<ion-item>
			<ion-input label="With you and:" placeholder="Enter names, emails, or phone #s"></ion-input>
		</ion-item>
	</ion-header>
</ion-content>