<ion-header>
	<ion-toolbar>
		<app-header />
	</ion-toolbar>
	<ion-toolbar class="ion-padding-bottom">
		<ion-searchbar (ionInput)="handleInput($event)" placeholder="With you and"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	@if (results.length === 0) {
	<app-add-expense-modal />

	<ion-card>
		<ion-card-header>
			<ion-card-title>Recent</ion-card-title>
		</ion-card-header>

		<ion-list>
			@for (recentItem of recentList; track $index) { @if (recentItem.type===1 ) {
			<ion-item (click)="setOpen(true, recentItem.name, 1)" class="ion-margin-bottom">
				<ion-avatar class="ion-margin-end">
					<img alt="{{recentItem.name}}" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
				</ion-avatar>
				<ion-label>{{recentItem.name}}</ion-label>
			</ion-item>
			} @else if (recentItem.type === 2) {
			<ion-item (click)="setOpen(true, recentItem.name, 2)"
				class="ion-justify-content-between ion-align-self-center ion-margin-bottom">
				<ion-row class="ion-margin-end">
					<ion-icon class="ion-margin-end" size="large" name="file-tray-outline"></ion-icon>
					<ion-label>{{recentItem.name}}</ion-label>
				</ion-row>
			</ion-item>
			}
			}
		</ion-list>
	</ion-card>

	<ion-card class="ion-margin-top">
		<ion-card-header>
			<ion-card-title>Groups</ion-card-title>
		</ion-card-header>

		<ion-list>
			@for (group of groupList; track $index) {
			<ion-item (click)="setOpen(true, group.name, group.type)"
				class="ion-justify-content-between ion-align-self-center ion-margin-bottom">
				<ion-row class="ion-margin-end">
					<ion-icon class="ion-margin-end" size="large" name="file-tray-outline"></ion-icon>
					<ion-label>{{group.name}}</ion-label>
				</ion-row>
			</ion-item>
			}
		</ion-list>
	</ion-card>

	<ion-card class="ion-margin-top">
		<ion-card-header>
			<ion-card-title>Friends on KiraKira</ion-card-title>
		</ion-card-header>

		<ion-list>
			@for (friend of friendList; track $index) {
			<ion-item (click)="setOpen(true, friend.name, friend.type)" class="ion-margin-bottom">
				<ion-avatar class="ion-margin-end">
					<img alt="{{friend}}" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
				</ion-avatar>
				<ion-label>{{friend.name}}</ion-label>
			</ion-item>
			}
		</ion-list>
	</ion-card>
	} @else if (results.length > 0) {
	<ion-list>
		@for (item of results; track $index) {
		<ion-item (click)="setOpen(true, item.name, item.type)">{{item.name}}</ion-item>
		}
	</ion-list>
	}

	<app-add-expense-modal [isModalOpen]="modalIsOpen" [SelectedName]="selectedEntity" [allEntities]="combinedData"
		(modalClosed)="setOpen(false, '', 0)" (expenseSaved)="handleExpenseSaved($event)" />
</ion-content>